<div class="container">
  <%= @letters %>
<hr>
  <%= @answer %>
<hr>
  <%= @valid_answer %>
<hr>
  <h1>Your points</h1><%= session[:pontos] %>
<hr>
<%= link_to  "Play again â›³ï¸ ðŸ”‚", word_path %>
</div>
